<header>
<h1>Landlord</h1>
<div class="nav"> 
    <a href='/landlord' class='navbutton'>Home</a>
    <a href='/landlord/records' class='navbutton'>View Records</a>
    <a href='/landlord/my_locations' class='navbutton'>My Locations</a>
    <a href='/locations' class='navbutton'>All Locations</a>
    User: <%= @user.name %>
    <form type="submit" method="post" action="/logout"><button class="actionbutton">logout</button></form>
  </div>
</header>

<div class="listing" id="tenantinfo">
  Locations:<br>
<!-- TODO: TOM -->
  Locations.each do |x| 
    puts x if x.landlord_id == @user.id 
  end
</div>

<div class="listing">
  User information:<br>
  Name: <%= @user.name %><br>
  Email: <%= @user.email %><br>
  Password: <%= @user.password %><br>
  Phone Number: <%= @user.phone %><br>
  Account Balance: <%= @user.account_balance %><br>
  <a href='/'>Update info</a>
</div>

<div class="listing">
  <form type="submit" method="get" action="/landlord/new_location"> <button class='actionbutton'>Add New Location</button></form>
</div>