<header>
	<span class="title"><h1>Landlord</h1></span>
</header>
<div class="container">
	<div class="row">
		<div class="col-sm-offset-0 col-sm-4 col-md-3"><h1>

			<h3 style="color: white; background: rgba(0,0,0, 0.8)">User information: </h3> 
			<p>
				<table class="table table-hover">
					<tr><td>Name:</td><td> <%= current_user.name %></td></tr>
					<tr><td>Email: </td><td><%= current_user.email %></td></tr>
					<tr><td>Password: </td><td>************</td></tr>
					<tr><td>Phone Number: </td><td><%= current_user.phone %></td></tr>
					<tr><td>Account Balance: </td><td>$<%= current_user.account_balance.round %></td></tr>
					<tr><td>Pets: </td><td><%= current_user.pets%></td></tr>
				</table> 
			</p> 
			
			<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#updateInfo">
				Update info
			</button>

		</h1> </div>
		<div class="col-sm-8">
			<h3 style="color: white; background: rgba(0,0,0, 0.8)">My Locations: </h3> 
			<table class='table table-hover'>
				<thead> 
					<tr> <th>Name </th>
						<th>Address </th>
						<th> Rate </th> 
					</tr> 
				</thead> 
				<tbody>
					<% if @locations %>
					<% @locations.each do |location| %>
					<tr>	<td><%= location.nickname %></td>
						<td><%=location.address %> </td>
						<td>$<%=location.rate.round %> </td> 
					</tr> 
					<% end %>
					<% end %>
				</tbody>
			</table> 
			<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#newLocation">
				Add new Location
			</button>
		</div>
	</div>
</div>

<!-- Modal file for adding new location  -->
<div class="modal fade" id="newLocation" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="myModalLabel">New Location</h4>
				binding.pry
			</div>
			<div class="modal-body">
				<!-- New Location body here -->
				<%= erb :'partials/new_location' %>
			</div>
		</div>
	</div>
</div>

<!-- Modal file for updating info  -->
<div class="modal fade" id="updateInfo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="myModalLabel">New Location</h4>
			</div>
			<div class="modal-body">
				<!-- Update info body here -->
				<%= erb :'partials/update_info' %>
			</div>
		</div>
	</div>
