<h1>Landlord</h1>
<div class="nav"> 
    <a href='/landlord' class='navbutton'>Home</a>
    <a href='/landlord/records' class='navbutton'>Records</a>
    <a href='/landlord/my_locations' class='navbutton'>My Locations</a>
    <a href='/locations' class='navbutton'>All Locations</a>
    <span id="username">User: <%= @user.name %></span>
    <form type="submit" method="post" action="/logout"><button class="actionbutton" id="logout">logout</button></form>
  </div>
</div>

<div class="listing" id="tenantinfo">
	Locations:<br>
	<!-- TODO: TOM -->
	Locations.each do |x| 
	puts x if x.landlord_id == @user.id 
	end
    <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
    Add new Location
  </button>
</div>

<div class="listing">
  User information:<br>
  Name: <%= @user.name %><br>
  Email: <%= @user.email %><br>
  Password: <%= @user.password %><br>
  Phone Number: <%= @user.phone %><br>
  Account Balance: $<%= @user.account_balance %><br>
  Pets: <%= @user.pets%><br>
  <a href='/'>Update info</a>
</div>



<!-- Modal file for adding new location  -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="myModalLabel">New Location</h4>
			</div>
			<div class="modal-body">
				<!-- New Location body here -->
				<form>
					<div class="form-group">
						<label for="exampleInputEmail1">Email address</label>
						<input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
					</form> 
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					<button type="button" class="btn btn-primary">Save changes</button>
				</div>
			</div>
		</div>
	</div>
