<header>
  <h1>All locations</h1>
  <div class="nav"> 
    <!-- TODO: return to correct home page -->
    <%if @user.usertype == 0%>
      <a href='/landlord' class='navbutton'>Home</a>
    <%elsif @user.usertype == 1%>
      <a href='/tenant' class='navbutton'>Home</a>
    <%elsif @user.usertype == 2%>
      <a href='/' class='navbutton'>Home</a>
    <%end%>
    
    <span id="username">User: <%= @user.name %></span>
    <form type="submit" method="post" action="/logout"><button class="actionbutton" id="logout">logout</button></form>
  </div>
</header>

<body>
<% @location.each do |location| %>
  <div class = "listing">
    <!-- TODO: only show available locations -->
    <h2><%= location.address %></h2>
    <div>$<%=location.rate %> <br>
    Pets: <%= (location.allow_pets?)? "Allowed" : "Not Allowed"%> <br>
    <form type="submit" method="post" action="/movein/<%=location.id%>"> <button class="actionbutton">MOVE IN!</button></form><br></div>
  </div>
<% end %>
</body>
