<div class="container">
  <div class="row">
    <div class="col-md-12">
      <%= erb :'partials/locationeffect' %>
      <ul class="ca-menu">
        <% @location.each do |location| %>
        <li style="margin:10px; text-align:center">
         <img src="images/home.png" class="ca-icon" id="heart">
         <h2 class="ca-main"><%= location.address %></h2>
         <h3 style="margin-top:0px">$<%=location.rate.round %> - <%= (location.allow_pets?)? "Pets allowed" : "No Pets"%></h3>
         <%if current_user == 1 || current_user == 2%>
         <form method="post" action="/movein/<%=location.id%>"><button class="actionbtn">MOVE IN!</button></form> 
         <%else%>
         <a data-toggle="modal" data-target="#NewUserModal" class="ca-sub" style="text-align:center"> SIGN UP TO MOVE IN!</a>
         <%end%>
       </li>
       <% end %>
     </ul>
   </div>
 </div>
</div>