<header>
  <h1>Search Results</h1>
</header>

<body>
	<table class="table table-hover">
		<thead><tr>
			<th>Nickname </th> 
			<th>Address </th> 
			<th>Monthly Rate </th> 
			<th>Interest Rate </th> 
			<th>Pets </th> 
			<th>Capacity </th> 
      <th>Move In</th>
   </tr></thead> 
   <tbody>
    <% @search_result.each do |location| %> 
    <tr>
     <td><%=location.nickname%> </td> 
     <td><%=location.address%> </td> 
     <td><%=location.rate%> </td> 
     <td><%=location.interest_rate%> </td> 
     <td><%=location.allow_pets? ? 'Yes' : 'No' %> </td> 
     <td><%=location.no_people%> </td> 
      <td><%if current_user%>
      <form type="submit" method="post" action="/movein/<%=location.id%>"> <button class="actionbtn">MOVE IN!</button></form><br></div>
      <%else%>
      <a data-toggle="modal" data-target="#NewUserModal"> <button class="actionbtn">MOVE IN TODAY!</button></a>
      <%end%>
      </td>
   </tr> 
 </tbody> 	
 <% end %>
</body>
