<div id="slide" style="left: -440px; top: 0px; width: 440px;">
<%= erb :'partials/blurmenu1' %>
</div>  
	<div class="container">
	<div class="row">
	<div class="col-md-offset-1 col-md-6">
<div class="jumbotron" >
	<h2> Account Info </h2> 
	<table>
		<tr>
<h3><b>Account Balance:</b></h3>	<h2 align="right">	<%=current_user.account_balance.round%></h2>
</tr>
<tr><h3><b>Rent Rate:</b> </h3> <h2 align="right"> <%=Location.find(current_user.location_id).rate.round%> $ Per Month</h2></tr>
<tr><h3><b>Next due date:</b> </h3> <h2 align="right"> <%= @record.last.due_date rescue "Invoice not ready" %></h2></tr>

<tr><h3><b>Outstanding Balance:</b> </h3> <h2 align="right"> <%= (@record.sum(:amount_due) - @record.sum(:amount_paid)).to_s + "$" rescue "No bill to pay" %></h2> </tr> 
</table> 
</div> </div> 
<div class="col-md-4">
=======
<h2>Account Balance: <%=current_user.account_balance.round%></h2>

<h2>Rent Rate: <%=Location.find(current_user.location_id).rate.round%> $ Per Month</h2>

<h2>Next due date: <%= @record.last.due_date rescue "Invoice not ready" %></h2>

<h2>Outstanding Balance: <%= (@record.sum(:amount_due) - @record.sum(:amount_paid)) rescue "No bill to pay" %></h2>
>>>>>>> css

<br>
  <label class="sr-only" for="exampleInputAmount">Amount (in dollars)</label>
  <div class="input-group">
    <div class="input-group-addon">$</div>
    <input type="text" name="amount" class="form-control" id="exampleInputAmount" placeholder="Amount">
    <div class="input-group-addon">.00</div>
	</div>
	<table><tr>
<form method="post" action="/tenant/pay/part">
	<button class="btn btn-primary">Pay this amount</button></form> 
<form type="submit" method="post" action="/tenant/pay/full"> <button class='btn btn-primary'>Pay in full</button></form>
</tr> </table> 
</div> 
</div> 
</div> 
