<header>
  <h1>Tenant @user.name</h1>
  <div class="nav"> 
    User: <%= @user.name %>
    <a href='/tenant' class='button'>Home</a>
    <a href='/tenant/records' class='button'>View Records</a>
    <a href='/locations' class='button'>All Locations</a>
  </div>
</header>

<div class="listing" id="tenantinfo">
  <% if @user.location_id == nil %> 
    <a href="/locations">Find a place!</a>
  <% else %> 
    Address: <%= Location.find(@user.location_id).address %><br>
    Rate: $<%= Location.find(@user.location_id).rate %> /month<br>
    Landlord: $<%= Location.find(@user.location_id).landlord_id %>
    <form type="submit" method="post" action="/moveout"> <button class="movebutton">MOVE OUT!</button></form><br></div>
  <% end %>
</div>

<div class="listing">
  User information:<br>
  Name: <%= @user.name %><br>
  Email: <%= @user.email %><br>
  Password: <%= @user.password %><br>
  Phone Number: <%= @user.phone %><br>
  Account Balance: <%= @user.account_balance %><br>
  <a href='/'>Update info</a>
</div>