<header>
<h1>Tenant Records</h1>
  <div class="nav"> 
    User: <%= @user.name %>
    <a href='/tenant' class='button'>Home</a>
    <a href='/tenant/records' class='button'>View Records</a>
    <a href='/locations' class='button'>All Locations</a>
  </div>
</header>

<table class="table table-hover">
	<thead>
		<tr>
			<th>address</th>
			<th>amount due</th>
			<th>due date</th>
			<th>amount paid</th>
			<th>date paid</th>
	</tr>
</thead>
<tbody>
	<% @record.each do |r|%>
	<tr>
		<td><%= r.location.address %> </td>   
		<td><%= r.amount_due%> </td>   
		<td> <%= r.date_due %> </td>   
		<td><%= r.amount_paid %> </td>   
		<td> <%=r.date_paid%> </td>   
	</tr> 
<% end %>
	</tbody> 
</table>


<a href='/' id='pay'>Pay</a>
</div>
