<header>
  <span class="title"><h1>Tenant Records</h1></span>
</header>

<table class="table table-hover">
	<thead>
		<tr>
			<th>address</th>
			<th>amount due</th>
			<th>due date</th>
			<th>amount paid</th>
			<th>date paid</th>
   </tr>
 </thead>
 <tbody>
   <% @record.each do |r|%>
   <tr>
    <td><%= r.location.address %> </td>   
    <td><%= r.amount_due%> </td>   
    <td> <%= r.date_due %> </td>   
    <td><%= r.amount_paid %> </td>   
    <td> <%=r.date_paid%> </td>   
  </tr> 
  <% end %>
</tbody> 
</table>

<p>Amount payable: <%= @amount_due - current_user.account_balance%> </p> 
<a href='/tenant/pay' id='pay'><button>Pay Rent</button></a>
</div>
