<div class="container">
  <div style="color: white; background: rgba(0,0,0, 0.8); width: 600px">
    <h2>Upcoming Due Date: <%= @record.last.date_due rescue "" %></h2>
    <h2>Amount due: $<%= @amount_due %></h2>
    <h2>Current Balance : $<%= current_user.account_balance%> </h2>
  </div>
</div>
<br> 
<div class="row">
	<div class="col-sm-offset-1 col-sm-4">
    <h3 style="color: white; background: rgba(0,0,0, 0.8)"> Payment History </h2> 
    <table class="table table-hover">
      <thead>
        <tr>
          <th>date paid</th>
          <th>address</th>
          <th>amount paid</th>
        </tr>
      </thead>
			<tbody>
        <% @payment.each do |r|%>
        <tr>
          <td> <%=r.created_at.strftime("%F %T")%> </td>  
					<td><%= r.location.address rescue '' %> </td>      
          <td><%= r.amount %> </td>    
        </tr> 
        <% end %>
      </tbody> 
    </table>
  </div>

  <div class="col-sm-5">
    <h3 style="color: white; background: rgba(0,0,0, 0.8)"> Invoice </h3> 
    <table class="table table-hover">
     <thead>
      <tr>
        <th>Address</th>
        <th>Amount Due</th>
        <th>Due Date</th>
        <th>Amount Paid </th> 
      </tr>
    </thead>
    <tbody>
			<% if not @record.nil? %>
      <% @record.each do |r|%>
				<%= r.owning? ? '<tr style="color:red;">' : '<tr>' %>
        <td><%= r.location.address %> </td>      
        <td><%= r.amount_due %>$ </td>    
        <td><%= r.date_due.strftime("%F") rescue ""%> </td>    
        <td><%= r.amount_paid %>$ </td>    
      </tr> 
      <% end %>
      <% end %>
    </tbody> 
  </table>
<a href='/tenant/pay' id='pay'><button>Pay Rent</button></a>
</div>
</div>

