<header>
  <h1>Tenant</h1>
  <div class="nav"> 
    <a href='/tenant' class='navbutton'>Home</a>
    <a href='/tenant/records' class='navbutton'>View Records</a>
    <a href='/locations' class='navbutton'>All Locations</a>
    User: <%= @user.name %>
    <button class="actionbutton">logout</button>
  </div>
</header>

<div class="listing" id="tenantinfo">
  <% if @user.location_id == nil %> 
    <a href="/locations">Find a place!</a>
  <% else %> 
    Address: <%= Location.find(@user.location_id).address %><br>
    Rate: $<%= Location.find(@user.location_id).rate %> /month<br>
    Landlord: $<%= Location.find(@user.location_id).landlord_id %>
    <form type="submit" method="post" action="/moveout"> <button class="actionbutton">MOVE OUT!</button></form><br></div>
  <% end %>
</div>

<div class="listing">
  User information:<br>
  Name: <%= @user.name %><br>
  Email: <%= @user.email %><br>
  Password: <%= @user.password %><br>
  Phone Number: <%= @user.phone %><br>
  Account Balance: <%= @user.account_balance %><br>
  <a href='/'>Update info</a>
</div>

<div class="listing">
<%= "YOU BROKE" if @user.account_balance < 100 %>
<form type="submit" method="post" action="/work"> <button class='actionbutton'>Werk</button></form>
<form type="submit" method="get" action="/pay"> <button class='actionbutton'>Pay Rent</button></form>