<header>
  <span class="title"><h1>Tenant</h1></span>
</header>

<div class="listingtenant" id="tenantinfo">
  <% if current_user.location_id == nil %> 
  <a href="/locations" style="font-size: 40px">Find a place!</a>
  <% else %> 
  Address: <%= Location.find(current_user.location_id).address %><br>
  Rate: $<%= Location.find(current_user.location_id).rate.round %> /month<br>
  Landlord: <%= User.find(Location.find(current_user.location_id).landlord_id).name %>
  Landlord Email: <%= User.find(Location.find(current_user.location_id).landlord_id).email %>
  <form type="submit" method="post" action="/moveout"> <button class="actionbutton">MOVE OUT!</button></form><br>
  <% end %>
</div>

<div class="listingtenant">

  <% if current_user.account_balance < 100 %>
  <span style="color: red; font-weight: bold; font-size: 22px; text-shadow: 0 0 0.2em #F87, 0 0 0.2em #F87"> YOU BROKE </span>
  <% elsif current_user.account_balance > 5000%> 
  <span style="color: green; font-weight: bold; font-size: 22px; text-shadow: 0 0 0.2em #23A610"> YOU BALLIN</span>
  <%end%>
  <form type="submit" method="post" action="/work"> <button class='actionbutton'>Werk</button></form><br>
  <form type="submit" method="get" action="/tenant/pay"> <button class='actionbutton'>Pay Rent</button></form>
</div>

<div class="listingtenant">
  User information:<br>
  Name: <%= current_user.name %><br>
  Email: <%= current_user.email %><br>
  Password: <%= current_user.password %><br>
  Phone Number: <%= current_user.phone %><br>
  Account Balance: <%= current_user.account_balance.round %><br>
  <a href='/'>Update info</a>
</div>





