<header>
<h1>Tenant Records</h1>
  <div class="nav"> 
    <a href='/tenant' class='navbutton'>Home</a>
    <a href='/tenant/records' class='navbutton'>View Records</a>
    <a href='/locations' class='navbutton'>All Locations</a>
    <span id="username">User: <%= @user.name %></span>
    <form type="submit" method="post" action="/logout"><button class="actionbutton" id="logout">logout</button></form>
  </div>
</header>

<table class="table table-hover">
	<thead>
		<tr>
			<th>address</th>
			<th>amount due</th>
			<th>due date</th>
			<th>amount paid</th>
			<th>date paid</th>
	</tr>
</thead>
<tbody>
	<% @record.each do |r|%>
	<tr>
		<td><%= r.location.address %> </td>   
		<td><%= r.amount_due%> </td>   
		<td> <%= r.date_due %> </td>   
		<td><%= r.amount_paid %> </td>   
		<td> <%=r.date_paid%> </td>   
	</tr> 
<% end %>
	</tbody> 
</table>


<a href='/tenant/pay' id='pay'>Pay</a>
</div>
