<div class="containter">
	<h1 class='title'>RECORDS</h1>

	<div class="row">
		<div class="col-sm-offset-1 col-sm-6 col-md-4">
			<div style="color: white; background: rgba(0,0,0, 0.8);">
				<table>
					<tr><b> <h4>Upcoming Due Date:</h4></b> <h2 align="right" style="color:white;"> <%= @record.last.date_due.strftime("%F") rescue "" %></h2></tr>
					<tr><b> <h4>Amount due:</h4></b> <h2 align="right" style="color:white;"> $<%= @amount_due %></h2></tr>
					<tr> <h4><b>Current Balance :</b></h4><h2 align='right' style="color:white;"> $<%= current_user.account_balance%> </h2> </tr>
				</table> 
			</div>
		</div> 
		<div class="col-sm-6">
			<h3 style="color: white; background: rgba(0,0,0, 0.8)"> Invoice </h3> 
			<table class="table table-hover">
				<thead>
					<tr>
						<th>Address</th>
						<th>Amount Due</th>
						<th>Due Date</th>
						<th>Amount Paid </th> 
					</tr>
				</thead>
				<tbody>
					<% if not @record.nil? %>
						<% @record.each do |r|%>
							<tr>
								<%= r.owning? ? '<tr style="color:red;">' : '<tr>' %>
										<td><%= r.location.address unless r.location.nil? %> </td>      
										<td><%= r.amount_due %>$ </td>    
										<td><%= r.date_due.strftime("%F") rescue ""%> </td>    
										<td><%= r.amount_paid %>$ </td>    
									</tr> 
								<% end %>
							<% end %>
						</tbody> 
					</table>
				</div>
			</div>

			<div class="row">
				<div class="col-sm-offset-1">
					<a href='/tenant/pay' id='pay'><button <%= 'disabled' if @amount_due == 0 %> class="btn btn-info-sm actionbtn">Pay Rent</button></a>
				</div> 
				<div class=" col-sm-6">
					<h3 style="color: white; background: rgba(0,0,0, 0.8)"> Payment History </h3> 
					<table class="table table-hover">
						<thead>
							<tr>
								<th>date paid</th>
								<th>address</th>
								<th>amount paid</th>
							</tr>
						</thead>
						<tbody>
							<% unless @payment.nil? %>
								<% @payment.each do |r|%>
									<tr>
										<td> <%=r.created_at.strftime("%F")%> </td>  
										<td><%= r.location.nil? ? '' : r.location.address %> </td>      
										<td><%= r.amount %> </td>    
									</tr> 
								<% end %>
							<% end %>
						</tbody> 
					</table>
				</div>
			</div>
		</div>
